@using Plinkit.UI.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Plinkit</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />    
    @Styles.Render("~/Content/css")    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(document).ready(function() {
            $.fn.popover.defaults.html = true;
            $.fn.popover.defaults.trigger = 'hover';
            $(".pop")
                .popover()
                ;
        });
        
        
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a>
                @Html.ActionLink("pLinkIt", "Index", "Home", null, new { @class = "brand" })
                @*Html.Partial("_LoginPartial")*@
                <div class="nav-collapse">
                    <ul class="nav">
                        @Html.Raw(Html.MenuItem("<span class=\"icon-white icon-home\"> </span> Home", "Index", "Home"))
                        @Html.Raw(Html.MenuItem("<span class=\"icon-white icon-info-sign\"> </span> About", "About", "Home"))
                        @Html.Raw(Html.MenuItem("<span class=\"icon-white icon-pencil\"> </span> Contact", "Contact", "Home"))
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            @RenderBody()
        </div>
        <hr>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>
                        &copy; @DateTime.Now.Year - pLinkIt</p>
                </div>                
            </div>
        </footer>
    </div>
    
    
</body>
</html>
